@import "tailwindcss";

@theme {
  --breakpoint-xs: 360px;

  --text-common: medium;
  --text-subtext: small;
  --text-h1: x-large;
  --text-h2: large;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding-right: 0 !important;
  overflow: initial !important;
}

.view-section {
  padding-top: 4rem;
}
